/* CSS Document */
.landing-header { margin-top: 20px; ^padding-left: 18px; width: 280px; height: 28px; }
h1{line-height: 120%;}
.landing-header h2 { color: #FF0; font-family: Arial, Helvetica, sans-serif; font-size: 18px; margin: 5px 0; padding: 0; margin-top: 10px; }
form { margin-left: 0px; font-family: Arial, Helvetica, sans-serif; width: 325px; text-align: left; color: #FFFFFF; font-size: 11px; ^margin-top: -10px; }input { height: 17px; background-color: #cccccc; border: none; }
select { height: 17px; border: none; background-color: #cccccc; font-size: 10px; }
.formfield { float: left; margin: 5px 6px 5px 0px; }
.formfield-right { float: right; margin: 5px 0px 5px 0px; }
.formfield label { display: block; margin: 0px; }
.formfield input { width: 100%; }
.formfield-right input{ width: 100%; }
.formfield-right-button { float: right; margin: -10px -145px 0px 0px; width:110px; }
.row { overflow: hidden; clear: both; width: 100%; padding: 0px; margin: 0px; }
#mailing-address { width: 100%; }
#first-name, #country select, #temail, #last-name { width: 159px; *width: 149px; }
#intphone, #intphone select, #education { width: 186px; }
#AdProgramIDButton{ margin:0; padding:0; position:relative; top:-32px; ^top:-20px; }
#AdProgramButtonTextAdjust { position:relative; top:-4px; ^top:0; }
.buttonRow{ position: relative; left:120px; top:-12px; ^left:115px; ^top:-6px; }
input.radiobutton { width:15px; background-color:#2DA19E; }
#moveLineUpForIE{ ^position:relative; ^top:-20px; }
#moveRequiredUpForIE{ ^position:relative; ^top:-5; }
h2#constrainHeightForIE{ ^height:10px; ^margin:0; ^padding:0; ^position:relative; ^left:-83px; }
.moveSectionLeftForIE{ ^position:relative; ^left:-23px; }
#textBoxFields {position:relative; top:-60px; ^top:-35px; }
#city { width: 130px; }
#zip { width: 46px; *width: 36px; }
#state select { width: 137px; }
#gender,#gender select,#gradyear,#gradyear select { width: 82px; *width: 79px; }
#number input { width: 128px; *width: 113px; }
#age input { width: 21px; *width: 8px; }
#legal input {margin:0; padding:0;float:left; width:15px; margin-right:10px;margin-top:5px;}
#leyenda label {margin: -35px 0px 0 10px;}
.hidden { text-indent: -9999px; }
p { margin: -17px 0px 0px 85px; float: left; }
.phoneformat { font-size: 9px; }

#subHeader{ margin-left:20px; color:#FFFFFF; font-weight:bold; font-weight:bolder; font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif; text-align:left; }
#subHeaderAccent{ color:#FFFF00; }
#requiredFieldNote { margin: -19px 0 0 85px; }
#formWrapper { margin-left:18px; ^margin-left: 5px;	}
	body { text-align: center; background-color: #393939;}
	#landingWrapper { width: 1005px; margin: 20px auto; }
	#leftColumn { width: 595px; height: 627px; float: left; position: relative; margin-right: 14px; background-image:url('../img/v3/01-top-left-info-pane-(2)-large.jpg'); } }
	#left { width: 595px; height: 627px; float: left; position: relative; margin-right: 14px; background-image:url('../img/v3/01-top-left-info-pane.jpg'); } }
	#rightColumn { width: 369px; float: left; }
	#topRightWrapper { width: 369px; height: 283px; float: left; margin-bottom: 9px; background-image:url('../img/v2/02-top-right-pros.gif'); }
	#bottomRightWrapper { position:relative;width: 369px; height:322px; float: left; background:url('../img/v3/07-bottom-right-form.gif') no-repeat; }
	#footerWrapper { width: 1005px; margin-top: 10px; float: left; }
	#footerWrapper a {color: #FFFFFF;}
	#privacyStatement { margin: 0 auto; color: #FFFFFF; text-align: center; font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;}
	#moreInfoStatement { text-align: center; color: #FFFFFF; font: 11px/14px Tahoma, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 5px; }
#copyrightStatement { text-align: center; color: #b2b2b2; font: 9px/16px Tahoma, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 5px; line-height: 12px; }
#logoLink { width: 300px; height: 84px; float: left; position: absolute; top: 44px; left: 48px; cursor: pointer; }
#subHeader{ margin-left:20px; color:#FFFFFF; font-weight:bold; font-weight:bolder; font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif; text-align:left;}
#subHeaderAccent{ color:#FFFF00;}
input { background-color: #ffffff; }
select { background-color: #ffffff; }
#FormWrapper {position: relative;top: 0px;}

#logo { background-image: url(../img/master-energias-renovables-ceu-imf.png);background-repeat: no-repeat; text-indent: -9999px; width: 300px; height: 84px; overflow: hidden; margin: 30px 50px auto; }
#topblock {font: 12px/15px Arial, Helvetica, sans-serif;color: #989898;position: absolute;top: -10px;left: 55px;text-align:left; width: 940px; float: left;}
#topblock a, #topblock a:hover, #topblock a:visited{ color: #989898; text-decoration:none; cursor:default;}

#textBlock1 {font: 12px/15px Arial, Helvetica, sans-serif;color: black;position: absolute;top: 120px;left: 48px;text-align:left; width: 275px; float: left;}
#textBlock1-intern {font: 12px/15px Arial, Helvetica, sans-serif;color: white;position: absolute;top: 120px;left: 48px;text-align:left; width: 520px; float: left;}

#textBlock2 { float: left; position: absolute; top: 463px; left: 48px; width: 250px;font: 9px/15px Verdana, Arial, Helvetica, sans-serif; color: #f8fbff;text-align:left;}
#textBlock3 {float: left; position: relative; top: 347px; left: 323px; width: 250px; font: 9px/15px Verdana, Arial, Helvetica, sans-serif; color: #f8fbff; text-align:left;}
#textBlock2 ul, #textBlock3 ul {list-style:disc; font: 12px/15px Arial, Helvetica, sans-serif; margin: 0px 0px 0px 16px;padding: 0px;}
#textBlock2 li, #textBlock3 li {margin-top: 3px; margin-bottom: 3px;}
p {margin:0px 0px 15px 0px; float: left; }

#textBlock4 {font: 12px/15px Arial, Helvetica, sans-serif;color: white;position: relative;top: 30px;left: 18px;text-align:left; width: 300px; float: left;}
#textBlock4 ul{list-style: none;}
	/* button Styling */
#button input {width:100px; height:32px; float:right; margin:0px; padding:0; margin-left:40px;}
#button input.button { font: 16px Arial; color:#fff; background:#4b9e08; border: solid 2px #fff; font-weight:bold;; margin-top:-10px; margin-left:50px; padding: 0px;  }
#button input.button:hover { cursor:pointer; border: none; }
	/* Resaltado del campo */		
#status{width:50%; padding:10px; outline:none; height:36px; }
.focusField{background:white; color:#000; }
.idleField{background: #CCC; color: #6F6F6F;}
select{background: #CCC;}
#textBlock1 span, #textBlock2 span, #textBlock3 span, #textBlock4 span{color:#FF3; font-weight:bold;}
</style>

<!--[if IE]>
	<style>
		.landing-header {
			float: left;
			text-align: left;
			margin-bottom: 5px;
		}
		#landing-header {
			margin: 0px 0px 20px 0px;
			padding: 0px;
		}
		form { margin:0px; padding:0px;}
		
		
		#FormWrapper {
			position: relative;
			top: -10px;
			left: -2px;
		}
	</style>
<![endif]-->
